
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    height: 60px;
    font-family: 'Lato', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.top-left {
    width: 50%;
    height: 50vh;

}

.top-right {
    width: 50%;
    height: 50vh;
}

.logo {
    font-size: 1.9rem;
}
